/*
 * Digitraffic Road API
 * [OpenAPI document](/swagger/openapi.json)   Digitraffic is a service operated by the [Fintraffic](https://www.fintraffic.fi) offering real time traffic information. Currently the service covers *road, marine and rail* traffic. More information can be found at the [Digitraffic website](https://www.digitraffic.fi/)   The service has a public Google-group [road.digitraffic.fi](https://groups.google.com/forum/#!forum/roaddigitrafficfi) for communication between developers, service administrators and Fintraffic. The discussion in the forum is mostly in Finnish, but you're welcome to communicate in English too.   ### General notes of the API * Many Digitraffic APIs use GeoJSON as data format. Definition of the GeoJSON format can be found at https://tools.ietf.org/html/rfc7946. * For dates and times [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format is used with \"Zulu\" zero offset from UTC unless otherwise specified (i.e., \"yyyy-mm-ddThh:mm:ss[.mmm]Z\"). E.g. 2019-11-01T06:30:00Z.
 *
 * The version of the OpenAPI document: 2.94.0#e017ffd@2022-10-18T07:48:28+0000
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package fi.tuni.monitor.roadapi.api;

import com.fasterxml.jackson.core.type.TypeReference;

import fi.tuni.monitor.roadapi.ApiException;
import fi.tuni.monitor.roadapi.ApiClient;
import fi.tuni.monitor.roadapi.Configuration;
import fi.tuni.monitor.roadapi.model.*;
import fi.tuni.monitor.roadapi.Pair;

import fi.tuni.monitor.roadapi.model.ForecastSectionFeatureCollectionOldV2;
import fi.tuni.monitor.roadapi.model.VariableSignDescriptions;


import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class MetadataV2Api {
  private ApiClient apiClient;

  public MetadataV2Api() {
    this(Configuration.getDefaultApiClient());
  }

  public MetadataV2Api(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * The static information of weather forecast sections V2
   * 
   * @param lastUpdated If parameter is given result will only contain update status. (optional, default to false)
   * @param naturalIds List of forecast section indices (optional
   * @return ForecastSectionFeatureCollectionOldV2
   * @throws ApiException if fails to make API call
   */
  public ForecastSectionFeatureCollectionOldV2 forecastSections3(Boolean lastUpdated, List<String> naturalIds) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/api/v2/metadata/forecast-sections";

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("lastUpdated", lastUpdated));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "naturalIds", naturalIds));

    
    
    
    final String[] localVarAccepts = {
      "application/json;charset=UTF-8", "application/geo+json;charset=UTF-8", "application/vnd.geo+json;charset=UTF-8"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<ForecastSectionFeatureCollectionOldV2> localVarReturnType = new TypeReference<ForecastSectionFeatureCollectionOldV2>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }
  /**
   * The static information of weather forecast sections V2 by road number
   * 
   * @param roadNumber  (required)
   * @return ForecastSectionFeatureCollectionOldV2
   * @throws ApiException if fails to make API call
   */
  public ForecastSectionFeatureCollectionOldV2 forecastSections4(Integer roadNumber) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'roadNumber' is set
    if (roadNumber == null) {
      throw new ApiException(400, "Missing the required parameter 'roadNumber' when calling forecastSections4");
    }
    
    // create path and map variables
    String localVarPath = "/api/v2/metadata/forecast-sections/{roadNumber}"
      .replaceAll("\\{" + "roadNumber" + "\\}", apiClient.escapeString(roadNumber.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json;charset=UTF-8", "application/geo+json;charset=UTF-8", "application/vnd.geo+json;charset=UTF-8"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<ForecastSectionFeatureCollectionOldV2> localVarReturnType = new TypeReference<ForecastSectionFeatureCollectionOldV2>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }
  /**
   * The static information of weather forecast sections V2 by bounding box
   * 
   * @param minLongitude Minimum longitude. Coordinates are in WGS84 format in decimal degrees. (required)
   * @param minLatitude Minimum latitude. Coordinates are in WGS84 format in decimal degrees. (required)
   * @param maxLongitude Maximum longitude. Coordinates are in WGS84 format in decimal degrees. (required)
   * @param maxLatitude Minimum latitude. Coordinates are in WGS84 format in decimal degrees. (required)
   * @return ForecastSectionFeatureCollectionOldV2
   * @throws ApiException if fails to make API call
   */
  public ForecastSectionFeatureCollectionOldV2 forecastSections5(Double minLongitude, Double minLatitude, Double maxLongitude, Double maxLatitude) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'minLongitude' is set
    if (minLongitude == null) {
      throw new ApiException(400, "Missing the required parameter 'minLongitude' when calling forecastSections5");
    }
    
    // verify the required parameter 'minLatitude' is set
    if (minLatitude == null) {
      throw new ApiException(400, "Missing the required parameter 'minLatitude' when calling forecastSections5");
    }
    
    // verify the required parameter 'maxLongitude' is set
    if (maxLongitude == null) {
      throw new ApiException(400, "Missing the required parameter 'maxLongitude' when calling forecastSections5");
    }
    
    // verify the required parameter 'maxLatitude' is set
    if (maxLatitude == null) {
      throw new ApiException(400, "Missing the required parameter 'maxLatitude' when calling forecastSections5");
    }
    
    // create path and map variables
    String localVarPath = "/api/v2/metadata/forecast-sections/{minLongitude}/{minLatitude}/{maxLongitude}/{maxLatitude}"
      .replaceAll("\\{" + "minLongitude" + "\\}", apiClient.escapeString(minLongitude.toString()))
      .replaceAll("\\{" + "minLatitude" + "\\}", apiClient.escapeString(minLatitude.toString()))
      .replaceAll("\\{" + "maxLongitude" + "\\}", apiClient.escapeString(maxLongitude.toString()))
      .replaceAll("\\{" + "maxLatitude" + "\\}", apiClient.escapeString(maxLatitude.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json;charset=UTF-8", "application/geo+json;charset=UTF-8", "application/vnd.geo+json;charset=UTF-8"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<ForecastSectionFeatureCollectionOldV2> localVarReturnType = new TypeReference<ForecastSectionFeatureCollectionOldV2>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }
  /**
   * Return all code descriptions.
   * 
   * @return VariableSignDescriptions
   * @throws ApiException if fails to make API call
   * @deprecated
   */
  @Deprecated
  public VariableSignDescriptions listCodeDescriptions2() throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/api/v2/metadata/variable-signs/code-descriptions";

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json;charset=UTF-8"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<VariableSignDescriptions> localVarReturnType = new TypeReference<VariableSignDescriptions>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }
}
